.custom-slick {
  .slick-dots {
    bottom: -40px;
    li button::before{
      font-size: 14px;
      color: #ccc;
      opacity: 1;
    }
    li.slick-active button::before{
      color: var(--chakra-colors-brandPrimary-500);
    }
  } 
  .slick-prev, .slick-next {
    border-radius: 50%;
    width: 29px;
    height: 29px;
    z-index: 1;
    &::before {
      font-size: 36px;
      line-height: 1;
      color: #000;
    }
  }
}
.custom-slick--images {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    & > div {
      display: flex;
      height: 100%;
      align-items: center;
      background-color: #000;
    }
  }
}

.custom-slick--cities {
  margin-bottom: 50px !important;
  .slick-track {
    padding: 32px 0;
    .slick-center .slick-box-item {
      background: #61d8ff;
      border-color: #61d8ff;
      transform: scale(1.2);
      hr {
        border-color: #000000;
      }
    }
    .slick-box-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

    }
    .slick-box-caption {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      li {
        list-style: none;
        font-size: 14px;
        line-height: 21px;
      }
    }
    .slick-slide {
      margin: 0 15px;
      position: relative;
      width: calc(100vw - 70px) !important;
      @media screen and (min-width: 576px) {
        width: calc((500px / 3) - 30px) !important;
      }
      @media screen and (min-width: 768px) {
        width: calc((696px / 3) - 30px) !important;
      }
      @media screen and (min-width: 992px) {
        width: calc((936px / 3) - 30px) !important;
      }
      @media screen and (min-width: 1200px) {
        width: calc((1116px / 5) - 30px) !important;
      }
      @media screen and (min-width: 1400px) {
        width: calc((1296px / 5) - 30px) !important;
      }
    }
  }
}